.codes__list {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 750px;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  margin-bottom: var(--mb-1);
}

.codes__title {
  margin-bottom: 0.5rem;
}

.code__card {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.code__input--create {
  width: 600px;
  outline: none;
  padding: 0.5rem 1rem;
}

.code__buttons {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.code__card:hover .code__buttons {
  opacity: 1;
}

.suggestion__list {
  width: 600px;
}

.suggestion__item {
  transition: background-color 0.3s, cursor 0.3s;
  padding-left: 1rem;
}

.suggestion__item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
